
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <strong>@item.CertificateName</strong> from <em>@item.Year</em>
        </li>
    }
</ul>
