
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table border="1" >
    <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Web</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>C#</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>

