
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table border="1" class="table tab-content">
    <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
        </tr>
    }

</table>

